<div class="app-menu navbar-menu" > 
    <!-- LOGO -->
    <div class="navbar-brand-box"> 
      <!-- Dark Logo--> 
      <a href="index.html" class="logo logo-dark"> <span class="logo-sm"> <img src="new_assets/assets/images/logo-sm.png" alt="" height="40"> </span> <span class="logo-lg"> <img src="new_assets\assets\images\logo-light.png" alt="" height="40"> </span> </a> 
      <!-- Light Logo--> 
      <a href="index.html" class="logo logo-light"> <span class="logo-sm"> <img src="new_assets/assets/images/logo-sm.png" alt="" height="40"> </span> <span class="logo-lg"> <img src="new_assets\assets\images\logo-light.png" alt="" height="40"> </span> </a>
      <button type="button" class="btn btn-sm p-0 fs-20 header-item float-end btn-vertical-sm-hover" id="vertical-hover"> <i class="ri-record-circle-line"></i> </button>
    </div>
    <div id="scrollbar">
      <div class="container-fluid" >
        <div id="two-column-menu"> </div>
         <ul class="navbar-nav" id="navbar-nav">
          <li class="menu-title"><span data-key="t-menu">Menu</span></li>
          <li class="nav-item"> <a class="nav-link menu-link" href="Dashboards.html"> <i class="mdi mdi-view-dashboard" style="align-items: center; margin-left: 0%;"></i>  <span data-key="t-Dashboards" style="padding-left: 10px;">     Dashboards</span> </a> </li>
          <li class="nav-item"> <a class="nav-link menu-link" href="OMS.html"> <i class="mdi mdi-cart-check"  style="align-items: center; margin-left: 0%;"></i> <span data-key="t-OMS" style="padding-left: 10px;"> OMS</span> </a> </li>
          <li class="nav-item"> <a class="nav-link menu-link" href="Stock.html"> <i class="mdi mdi-warehouse" style="align-items: center; margin-left: 0%;"></i> <span data-key="t-Stock" style="padding-left: 10px;"> Stock</span> </a> </li>
          <li class="nav-item"> <a class="nav-link menu-link" href="#Onboarding" data-bs-toggle="collapse" role="button"
                                aria-expanded="false" aria-controls="Onboarding"> <i class="mdi mdi-home-group-plus" style="align-items: center; margin-left: 0%;"></i> <span data-key="t-dashboards" style="padding-left: 10px;"> Onboarding</span> </a>
            <div class="collapse menu-dropdown" id="Onboarding">
              <ul class="nav nav-sm flex-column">
                <li class="nav-item"> <a href="New_Company.html" class="nav-link" data-key="t-analytics">  New Company </a> </li>
                <li class="nav-item"> <a href="Registration.html" class="nav-link" data-key="t-crm">  Registration </a> </li>
                <li class="nav-item"> <a href="Permissions.html" class="nav-link" data-key="t-ecommerce">  Permissions </a> </li>
              </ul>
            </div>
          </li>
          <li class="nav-item"> <a class="nav-link menu-link" href="#Payments" data-bs-toggle="collapse" role="button"
                                aria-expanded="false" aria-controls="Payments"> <i class="mdi mdi-cash" style="align-items: center; margin-left: 0%;"></i> <span data-key="t-dashboards" style="padding-left: 10px;">Payments</span> </a>
            <div class="collapse menu-dropdown" id="Payments">
              <ul class="nav nav-sm flex-column">
                <li class="nav-item"> <a href="Pay In.html" class="nav-link" data-key="t-analytics"> Pay In</a> </li>
                <li class="nav-item"> <a href="Pay Out.html" class="nav-link" data-key="t-crm"> Pay Out </a> </li>
              </ul>
            </div>
          </li>
          <li class="nav-item"> <a class="nav-link menu-link" href="Master.html"> <i class="mdi mdi-shape" style="align-items: center; margin-left: 0%;"></i> <span data-key="t-Master" style="padding-left: 10px;">Master</span> </a> </li>
        </ul>
      </div>
      <!-- Sidebar --> 
    </div>
  </div>